<section class="full-height">
    <section class="no-padding container my-5 d-flex flex-row justify-content-between">
        <div class="ps-4 ps-lg-0 col-3 d-flex align-items-center">
            <img src="assets/images/portfolio-logo.png" class="logo">
        </div>
        <div class="col-4 d-none d-lg-flex flex-row justify-content-end align-items-center gap-5">
            <h5 class="no-margin">Resume</h5>
            <button type="button" class="btn btn-outline-primary">
                <h5 class="no-margin">Say Hello</h5>
            </button>
        </div>
        <div class="col-3 d-flex d-lg-none pe-4 justify-content-end">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="auto" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
        </div>
    </section>
</section>
