:host {
    .logo {
        width: 60px;
        height: auto;
    }

    .name-text {
        background-image: linear-gradient(to right, #673ab7, #24035e);
        -webkit-background-clip: text;
        color: transparent
    }

    .profile-img {
        border-radius: 100%;
        width: 15rem;
        height: auto;
    }

    .dev-icons {
        width: 80%;
        height: auto;
    }

    .longer-intro {
        background-color: #673ab7;
        padding-top: 8%;
        padding-bottom: 15%;
    }

    .brief-intro {
        width: 50%;
    }

    .angular-text {
        background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(148, 2, 2));
        -webkit-background-clip: text;
        color: transparent
    }

    .typescript-text {
        background-image: linear-gradient(to right, rgb(15, 53, 221), rgb(4, 16, 92));
        -webkit-background-clip: text;
        color: transparent
    }

    .ionic-text {
        background-image: linear-gradient(to right, rgb(61, 236, 221), rgb(2, 116, 106));
        -webkit-background-clip: text;
        color: transparent
    }

    @media (max-width: 576px) {
        .logo {
            width: 2.5rem;
        }

        .profile-img {
            width: 8rem; 
        }

        .brief-intro {
            width: 100%;
        }
    }

    @media (min-width: 576px) and (max-width: 992px) {
        .logo {
            width: 3rem;
        }

        .profile-img {
            width: 10rem;
        }

        .brief-intro {
            width: 75%;
        }
    }

    @media (min-width: 992px) and (max-width: 1400px) {
        .brief-intro {
            width: 75%;
        }
    }
}