<section class="full-height">
    <section class="no-padding container pt-5 pb-lg-5 d-flex flex-row justify-content-between">
        <div class="ps-4 ps-lg-0 col-3 d-flex align-items-center">
            <img src="assets/images/portfolio-logo.png" class="logo">
        </div>
        <div class="col-4 d-none d-lg-flex flex-row justify-content-end align-items-center gap-5">
            <h5 class="no-margin resume" (click)="openResume()">Resume</h5>
            <button type="button" class="btn btn-outline-primary" (click)="sendFeedback()">
                <h5 class="no-margin">Say Hello</h5>
            </button>
        </div>
        <ng-container *ngIf="!menuButtonClicked">
            <div class="col-3 d-flex d-lg-none pe-4 justify-content-end" (click)="openMenu()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="auto" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </div>
        </ng-container>
        <ng-container *ngIf="menuButtonClicked">
            <div class="col-3 d-flex d-lg-none pe-4 justify-content-end" (click)="closeMenu()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="auto" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
            </div>
        </ng-container>
    </section>

    <ng-container *ngIf="menuButtonClicked">
        <section class="d-flex flex-column gap-3 pt-4 pb-5">
            <div class="d-flex flex-row justify-content-center">
                <h6 class="no-margin resume" (click)="openResume()">Resume</h6>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <button type="button" class="btn btn-outline-primary" (click)="sendFeedback()">
                    <h6 class="no-margin">Send Feedback</h6>
                </button>
            </div>
        </section>
    </ng-container>

    <section class="container pt-5 d-flex flex-column">
        <div class="pt-md-4 d-flex flex-column flex-md-row justify-content-center">
            <h1 class="no-margin bold-900 ls-1-3 text-center display-5">Hello World! I'm&nbsp;</h1>
            <h1 class="no-margin bold-900 ls-1-3 text-center display-5 name-text">Syafiq Nordin</h1>
        </div>
        <div class="d-flex flex-row justify-content-center pt-3 pb-xl-5">
            <h2 class="no-margin bold-100">Your Frontend Developer</h2>
        </div>
        <div class="pt-4 pb-3 d-flex flex-row justify-content-center">
            <img src="assets/images/casual-dp.jpeg" class="profile-img">
        </div>
        <div class="pt-2 pt-md-5 d-flex flex-row justify-content-center">
            <img src="assets/images/dev-icons.svg" class="dev-icons">
        </div>
    </section>

    <section class="longer-intro">
        <div class="d-none d-md-flex flex-column gap-4">
            <h2 class="no-margin text-white text-center bold-600">Hi, I'm Syafiq. Pleasure to meet you!</h2>
            <div class="d-flex flex-row justify-content-center">
                <h5 class="brief-intro no-margin text-white text-center ls-1-3 bold-400" style="line-height: 1.5;">
                    I am an experienced software engineer specializing in frontend development. I began my journey in 2022 and have since honed my skills especially in 
                    <span class="fs-3 bold-800 angular-text">Angular</span>,
                    <span class="fs-3 bold-800 typescript-text">TypeScript</span>, and
                    <span class="fs-3 bold-800 ionic-text">Ionic</span>
                    framework. I've had the privilege of collaborating with talented individuals to create impactful digital products for business use.
                </h5>
            </div>
        </div>
        <div class="d-flex d-md-none flex-column gap-4">
            <div class="d-flex flex-row justify-content-center">
                <h5 class="pt-5 w-75 no-margin text-white text-center bold-600">Hi, I'm Syafiq. Pleasure to meet you!</h5>
            </div>
            <div class="px-3 d-flex flex-row justify-content-center">
                <p class="brief-intro no-margin text-white text-center ls-1-3 bold-400" style="line-height: 1.5; font-size: 14px;">
                    I am an experienced software engineer specializing in frontend development. I began my journey in 2022 and have since honed my skills especially in 
                    <span class="fs-6 bold-800 angular-text">Angular</span>,
                    <span class="fs-6 bold-800 typescript-text">TypeScript</span>, and
                    <span class="fs-6 bold-800 ionic-text">Ionic</span>
                    framework. I've had the privilege of collaborating with talented individuals to create impactful digital products for business use.
                </p>
            </div>
        </div>
    </section>

    <section class="container pb-5">
        <div class="row justify-content-center attr-cards">
            <div class="py-5 px-5 d-flex flex-column col-10 col-xl-4 gamer-card">
                <div class="d-flex flex-row justify-content-center">
                    <img src="assets/images/gamer-icon.svg" class="gamer-developer-traveler-icons">
                </div>
                <div class="d-flex flex-row justify-content-center pt-4">
                    <h5 class="no-margin fs-4 bold-600">Gamer</h5>
                </div>
                <div class="d-flex flex-row justify-content-center pt-4 pb-4">
                    <h6 class="no-margin text-center">Playing games with my circle is one of the best ways for me to get rid of stress.</h6>
                </div>
                <div class="d-flex flex-row justify-content-center pt-4">
                    <h6 class="no-margin text-center bold-600 primary-color-text">Types of game that I enjoy playing:</h6>
                </div>
                <div class="d-flex flex-row justify-content-center pt-2 pb-4">
                    <h6 class="no-margin text-center">PC, PS, Competitive FPS, Battle royale, Action-adventure</h6>
                </div>
                <div class="d-flex flex-row justify-content-center pt-4">
                    <h6 class="no-margin text-center bold-600 primary-color-text">Games that I played the most:</h6>
                </div>
                <div class="pt-2">
                    <ng-container *ngFor="let game of games">
                        <h6 class="no-margin text-center pt-2">{{ game }}</h6>
                    </ng-container>
                </div>
            </div>
            <div class="py-5 px-5 d-flex flex-column col-10 col-xl-4 frontend-card">
                <div class="d-flex flex-row justify-content-center">
                    <img src="assets/images/frontend-icon.svg" class="gamer-developer-traveler-icons">
                </div>
                <div class="d-flex flex-row justify-content-center pt-4">
                    <h5 class="no-margin fs-4 bold-600">Frontend Developer</h5>
                </div>
                <div class="d-flex flex-row justify-content-center pt-4 pb-4">
                    <h6 class="no-margin text-center">My passion lies in translating UI designs into tangible, creative realities.</h6>
                </div>
                <div class="d-flex flex-row justify-content-center pt-4">
                    <h6 class="no-margin text-center bold-600 primary-color-text">Languages I speak:</h6>
                </div>
                <div class="d-flex flex-row justify-content-center pt-2 pb-4">
                    <h6 class="no-margin text-center">HTML5, SCSS, Angular, Angular Material, TypeScript, Ionic, Bootstrap</h6>
                </div>
                <div class="d-flex flex-row justify-content-center pt-4">
                    <h6 class="no-margin text-center bold-600 primary-color-text">Dev Tools:</h6>
                </div>
                <div class="pt-2">
                    <ng-container *ngFor="let tool of devTools">
                        <h6 class="no-margin text-center pt-2">{{ tool }}</h6>
                    </ng-container>
                </div>
            </div>
            <div class="py-5 px-5 d-flex flex-column col-10 col-xl-4 traveler-card">
                <div class="d-flex flex-row justify-content-center">
                    <img src="assets/images/travel-icon.svg" class="gamer-developer-traveler-icons">
                </div>
                <div class="d-flex flex-row justify-content-center pt-4">
                    <h5 class="no-margin fs-4 bold-600">Traveler</h5>
                </div>
                <div class="d-flex flex-row justify-content-center pt-4 pb-4">
                    <h6 class="no-margin text-center">Seeing the beauty of this world in different places opens my mind.</h6>
                </div>
                <div class="d-flex flex-row justify-content-center pt-4">
                    <h6 class="no-margin text-center bold-600 primary-color-text">Malaysian states I have went to:</h6>
                </div>
                <div class="d-flex flex-row justify-content-center pt-2 pb-4">
                    <h6 class="no-margin text-center">All states except for Kelantan and Sarawak.</h6>
                </div>
                <div class="d-flex flex-row justify-content-center pt-4">
                    <h6 class="no-margin text-center bold-600 primary-color-text">Countries that I've went to:</h6>
                </div>
                <div class="pt-2">
                    <ng-container *ngFor="let country of countries">
                        <h6 class="no-margin text-center pt-2">{{ country }}</h6>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-center pb-5">
                <h3 class="no-margin text-center bold-600">I am proud to have worked for some awesome companies</h3>
            </div>
            <div class="row pt-md-5 justify-content-center row-gap-3">
                <div class="col-6 col-md-4 d-flex justify-content-center">
                    <img src="assets/images/Petronas_logo.png" class="companies-logo">
                </div>
                <div class="col-6 col-md-4 d-flex justify-content-center">
                    <img src="assets/images/APIIT-logo.png" class="companies-logo">
                </div>
                <div class="col-6 col-md-4 d-flex justify-content-center">
                    <img src="assets/images/Vandewiele-logo.png" class="companies-logo">
                </div>
            </div>
        </div>
    </section>

    <section class="projects">
        <div class="d-none d-md-flex flex-column gap-4">
            <h2 class="no-margin text-white text-center bold-600">Projects I have worked on</h2>
            <div class="d-flex flex-row justify-content-center">
                <h5 class="projects-intro no-margin text-white text-center ls-1-3 bold-400" style="line-height: 1.8;">
                    A showcase of my passion and expertise in crafting digital experiences. Dive into a collection of projects where I've poured creativity, code, and commitment to create impactful solutions.
                </h5>
            </div>
        </div>

        <div class="px-3 d-flex d-md-none flex-column gap-4">
            <h5 class="pt-5 no-margin text-white text-center bold-600">Projects I have worked on</h5>
            <div class="d-flex flex-row justify-content-center">
                <p class="projects-intro no-margin text-white text-center ls-1-3 bold-400" style="line-height: 1.5; font-size: 14px;">
                    A showcase of my passion and expertise in crafting digital experiences. Dive into a collection of projects where I've poured creativity, code, and commitment to create impactful solutions.
                </p>
            </div>
        </div>
    </section>

    <section class="container py-5">
        <div class="row row-gap-4 justify-content-center group-project-cards">
            <div class="col-11 col-md-4">
                <div class="card projects-cards">
                    <div class="card-body">
                        <div class="py-4 d-flex flex-row justify-content-center" style="max-height: 90px;">
                            <img src="assets/images/apspace-logo.svg" class="projects-logo">
                        </div>
                        <div class="pb-4">
                            <h6 class="no-margin text-center">Asia Pacific University web and mobile app for students and staff</h6>
                        </div>
                        <div class="py-3 d-flex flex-row justify-content-center">
                            <a href="https://apspace.apu.edu.my/login" target="_blank" class="rounded-2 px-2 py-2 d-flex flex-row text-center gap-2" style="background-color: #EBF5FF;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="auto" fill="#0D6EFD" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                </svg>
                                <h6 class="no-margin">apspace.apu.edu.my</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-4">
                <div class="card projects-cards">
                    <div class="card-body">
                        <div class="py-4 d-flex flex-row justify-content-center" style="max-height: 90px;">
                            <img src="assets/images/texconnect-logo.png" class="projects-logo">
                        </div>
                        <div class="pb-4">
                            <h6 class="no-margin text-center">A textile machineries configuration system to manage production orders</h6>
                        </div>
                        <div class="py-3 d-flex flex-row justify-content-center">
                            <a href="https://portal.texconnect.io/login" target="_blank" class="rounded-2 px-2 py-2 d-flex flex-row text-center gap-2" style="background-color: #EBF5FF;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="auto" fill="#0D6EFD" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                </svg>
                                <h6 class="no-margin">portal.texconnect.io</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-4">
                <div class="card projects-cards">
                    <div class="card-body">
                        <div class="py-4 d-flex flex-row justify-content-center" style="max-height: 90px;">
                            <img src="assets/images/trhine-logo.png" style="width: auto;">
                        </div>
                        <div class="pb-4">
                            <h6 class="no-margin text-center">Simple appointment booking system for a startup multi-business company</h6>
                        </div>
                        <div class="py-3 d-flex flex-row justify-content-center">
                            <h6 href="https://portal.texconnect.io/login" target="_blank" class="no-margin rounded-2 px-2 py-2 d-flex flex-row text-center gap-2" style="background-color: #FEECF0; color: #CC0F35;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="auto" fill="#CC0F35" class="bi bi-pause-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0z"/>
                                </svg>
                                <h6 class="no-margin">in-development</h6>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-4">
                <div class="card projects-cards">
                    <div class="card-body">
                        <div class="py-4 d-flex flex-row justify-content-center" style="max-height: 90px;">
                            <img src="assets/images/seetruStudio-logo.svg" style="width: auto;">
                        </div>
                        <div class="pb-4">
                            <h6 class="no-margin text-center">A 3-day frontend skill test for Seetru Studio position application</h6>
                        </div>
                        <div class="py-3 d-flex flex-row justify-content-center">
                            <a href="https://syafiqnordin.github.io/frontend_test_seetru_studio/establishment" target="_blank" class="rounded-2 px-2 py-2 d-flex flex-row text-center gap-2" style="background-color: #EBF5FF;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="auto" fill="#0D6EFD" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                </svg>
                                <h6 class="no-margin">syafiqnordin.github.io/fron..</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-4">
                <div class="card projects-cards">
                    <div class="card-body">
                        <div class="py-4 d-flex flex-row justify-content-center" style="max-height: 90px;">
                            <img src="assets/images/portfolio-logo.png" style="width: 20%;">
                        </div>
                        <div class="pb-4">
                            <h6 class="no-margin text-center">My personal e-portfolio which you are currently looking at.</h6>
                        </div>
                        <div class="py-3 d-flex flex-row justify-content-center">
                            <a href="https://syafiqnordin.github.io/MyPortfolio/home" target="_blank" class="rounded-2 px-2 py-2 d-flex flex-row text-center gap-2" style="background-color: #EBF5FF;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="auto" fill="#0D6EFD" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                </svg>
                                <h6 class="no-margin">syafiqnordin.github.io/MyPortf..</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>