<section class="full-height">
    <section class="no-padding container my-5 d-flex flex-row justify-content-between">
        <div class="ps-4 ps-lg-0 col-3 d-flex align-items-center">
            <img src="assets/images/portfolio-logo.png" class="logo">
        </div>
        <div class="col-4 d-none d-lg-flex flex-row justify-content-end align-items-center gap-5">
            <h5 class="no-margin">Resume</h5>
            <button type="button" class="btn btn-outline-primary">
                <h5 class="no-margin">Say Hello</h5>
            </button>
        </div>
    </section>
</section>
